.Footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 65px;
  background-color: #C2B9B0;
  text-align: center;
  line-height: 65px;
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    list-style-type: none;
    list-style-position: inside;
    justify-content: space-between;
    // width: 33%;
    // padding-right: 1em;
  }

  li {
    cursor: pointer;
    color: brown;
    letter-spacing: 1px;
    margin: 0 1em 0 1em;
    text-decoration: none;
    transition: color 0.5s ease;
  }

  li:hover {
    color: rgb(109, 28, 28);
  }

}
