.Work {
  height: calc(100vh - 65px - 65px);
  background-color: #C2CAD0;
  /* text-align: center; */
  display: flex;
  overflow: hidden;

  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .projects {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: inherit;
    z-index: 3;
  }

  .project {
    position: relative;
    left: 100%;


    .description > *{
      width: 90%;
      margin: 2.5% auto;
    }
  }

  @keyframes slide-in {
    100% {
      left: 0%;
    }
  }
  .projects::-webkit-scrollbar {
    width: 15px;
  }


  .projects::-webkit-scrollbar-track {
    background: rgb(202, 153, 93);
    border: 1px solid gray;
  }

  .projects::-webkit-scrollbar-thumb {
    background: rgb(240, 158, 50);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px inset rgb(155, 89, 3);
  }

  .projects::-webkit-scrollbar-thumb:hover {
    background: rgb(247, 140, 0);
  }

  .projects::-webkit-scrollbar-button {
    // background: green;
  }



  .projects img {
    position: relative;
    height: 225px;
    width:  225px;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 2.5px;
  }

  .project-bg {
    height: 230px;
    background-color: rgb(255, 238, 190);
    border: 2px solid rgb(42, 42, 42);
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  #workLeft {
    position: relative;
    background-color: whitesmoke;
    flex-basis: 55%;
    height: calc(100vh - 65px - 65px);
    box-shadow: -15px 0px 8px -5px inset #C2CAD0;;
  }

  div#bg1 {
    position: absolute;
    z-index: 1;
    background-color: rgb(224, 223, 223);
    height: 450px;
    width: 1500px;
    transform: rotate(50deg);
    box-shadow: 0 16px 12px -12px inset rgb(170, 170, 175);
    left: -1400px;
    top: 200px;
    animation: bg-slide 1.5s ease-in-out forwards 1.1s;
  }

  @keyframes bg-slide {
    100% {
      left: -850px;
    }
  }

  #rick {
    position: absolute;
    bottom: -450px;
    right: -45px;
    animation: slide-up 1s ease-out 2s forwards;
  }

  #speechBox {
    position: absolute;
    background-color: grey;
    border: 2px solid black;
    width: 100px;
    height: 110px;
    border-radius: 15px;
    right: 15px;
    bottom: 480px;
    transform: scale(0);
    color: white;
    padding: 1%;
  }

  #speechBox::before {
    content: '';
    display: 'block';
    width: 0;
    position: absolute;
    bottom: -40px;
    left: -20px;
    border-radius: 50%;
    border-style: solid;
    border-width: 7px;
    border-color: grey;
  }

  #speechBox::after {
    content: '';
    display: 'block';
    width: 0;
    position: absolute;
    bottom: -25px;
    left: -12px;
    border-radius: 50%;
    border-style: solid;
    border-width: 12px;
    border-color: grey;
  }

  @keyframes slide-up {
    0% {
      bottom: -450px;
    }
    100% {
     bottom: 0px;
    }
  }

  @keyframes slide-down {
    0% {
      bottom: 0px;
    }
    100% {
     bottom: -450px;
    }
  }

  @keyframes open-bubble-bounce {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes close-bubble {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

  #workText {
    cursor: pointer;
    font-family: 'Acme', sans-serif;
    position: absolute;
    left: 40px;
    top: 50px;
    font-size: 10rem;
    text-shadow: 6px 6px grey;
    animation: rotateText ease 2s forwards;
    line-height: 1;
    transition: text-shadow ease-in 0.3s, left ease-in 0.3s, top ease-in 0.3s;
  }

  #workText:hover {
    text-shadow: 3px 3px 10px black;
    left: 43px;
    top: 53px;
  }

  @keyframes rotateText {
    100% {
      transform: rotate(-20deg);
    }
  }

  @media screen and (max-width: 1200px) {
    #rick {
      animation: slide-down ease-out 2s forwards;
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;

    #rick {
      display: none;
    }
    // now on top
    #workLeft {
      flex-basis: 30%;
      box-shadow: 0px -16px 12px -12px inset rgb(170, 170, 175);
    }

    #workText {
      font-size: 8rem;
      left: 50%;
      transform: translateX(-50%);
      top: -50%;
      animation: slide-down ease 1s forwards;
    }
    .projects {
      flex-basis: 70%;
      z-index: 0;
      padding-bottom: 3rem;
    }
    .project-bg {
      flex-direction: column;
      height: fit-content;

      a {
        order: 2;
        padding-bottom: 0.5rem;
      }
    }
    div#bg1 {
      display: none;
    }
    .description {
      text-align: center;
      order: 1;

      h3 {
        padding: 0.5rem;
      }

      p {
        padding: 0 0.5rem 0.5rem 0.5rem;
      }
    }

  }

}
